#clouder {
	
}

/* NAVBAR CSS */
.navbar {
	margin-bottom: 0px;
	background-color: #333;
	border: 0px;
}

.navbar-nav {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.nav > li > a:not(.text_link) {
	padding: 10px 15px;
}

#email_input {
	padding-left: 15px;
	padding-right: 15px;
}

.popover {
	background-color: #E74C3C;
	color: #ECF0F1;
	width: 120px;
}

.popover.right .arrow:after {
	border-right-color: #E74C3C;
}

/* END OF NAVBAR CSS */

span:not(.bootstrapSpan) {
	width: 250px;
	padding: 5px;
	border-radius: 10px;
	word-wrap: normal;
}

.cloudTitle {
	padding-top: 20px;
}

#feedCloudOptions, #searchCloudOptions {
	display: none;
}

/*#searchCloudOptions {
	display: none;
}*/

.inputField {
	margin-right: 5px;
}

#image_container {
	overflow: hidden;
}

#tweet_image {
	display: block;
	margin: auto;
	max-height: 500px;
}