#clouder {
	
}

span:not(.bootstrapSpan) {
	width: 250px;
	padding: 5px;
	border-radius: 10px;
	word-wrap: normal;
}

.cloudTitle {
	padding-top: 20px;
}

#feedCloudOptions {
	display: none;
}

#searchCloudOptions {
	display: none;
}